    animations {
        workspace-switch {
            spring damping-ratio=1.0 stiffness=4500 epsilon=0.0005
        }
        window-open {
            duration-ms 2
            curve "ease-out-quad"
        }
        window-close {
            duration-ms 2
            curve "ease-out-cubic"
        }
        horizontal-view-movement {
            spring damping-ratio=1.0 stiffness=4250 epsilon=0.0005
        }
        window-movement {
            spring damping-ratio=1.0 stiffness=4000 epsilon=0.0005
        }
        window-resize {
            spring damping-ratio=1.0 stiffness=4750 epsilon=0.0005
        }
        config-notification-open-close {
            spring damping-ratio=0.65 stiffness=4500 epsilon=0.001
        }
        screenshot-ui-open {
            duration-ms 3
            curve "ease-out-quad"
        }
        overview-open-close {
            spring damping-ratio=1.0 stiffness=25000 epsilon=0.0005
        }
    }
