[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /home/bolt/git/dotfiles/kanata-linux.kbd
Restart=never

[Install]
WantedBy=default.target
