[Unit]
Description=OpenSSH private key agent
Documentation=man:ssh-agent(1)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a %t/ssh-agent.socket
ExecStopPost=/bin/rm -f %t/ssh-agent.socket

[Install]
WantedBy=default.target
